a
{
margin: 10px;
color: white;
}
.container-fluid
{
background-color: rgb(43, 41, 41);
margin: -10px;
font-weight: bolder;
}
.navbar-nav a
{
color: white;
}
.btn
{
margin-left: 300px;
background-color: rgb(255, 166, 0);
border-radius: 50px;
height: 50px;
margin-top: 6px;
}
.login-popup 
{
display: none;

position: absolute;
/* Additional styling properties */
background-color: #f9f9f9;
border: 1px solid #ccc;

padding: 15px;
z-index: 1;
}

.login-container:hover .login-popup
{
display: block;
border-radius: 30px;

}
body
{
background-color: rgb(10, 5, 5);
}
.img
{
border-radius: 50px;
}
h1
{
margin: 10px;
color: white;
font-weight: bolder;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {


transition: transform 0.5s; /* Animation */

margin: 0 auto;
}

img:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.login-link
{
margin-top: 50px;
}
.footer
{
background-color: rgb(23, 19, 19);
}